body    {
    
    background-image: url('../images/checkerboard.jpg');

}

h1 {
    font-family: "Segoe Print";
    color: black;
}

#recipeTitle {
    color:#95df8b;
    font-family: "Impact";
    font-size: 4rem;
    text-decoration: underline;
    text-shadow: 3px 3px 0px rgb(4, 43, 0);
}

h3 {
    font-size: 2.5vw;
    font-family: "Impact";
    text-decoration: underline;
    color:#28681f;
    text-shadow: 3px 3px 0px rgba(4, 43, 0, 0.292);
}

p {
    font-family: Mulish;
    color: #0e4a17;
}

figcaption {
    font-size: 12px;
}

img {
    width: 20vw;
    height: auto;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 0px #000000);
    padding:10px;
}

input {
    color:#28681f;

}

.convert {
    height: 30px;
    width: 80px;
    font-family: "Consolas";
}

fieldset {
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
    font-weight: bold;
    background-color: #0f340f;
    font-family: Monaco;
    color:#ffffff
    
    
}

legend {
    background-color: #0f4d26;
    border-radius: 20px;
    outline: 2px solid #000000;
    width:fit-content;
    padding: 10px;
    color:#96f199;
}

ol {
    font-family: Mulish;
    color: #0e4a17;
    background-color: #e5ffe0;
    border-radius: 20px;
}

ul {
    font-family: Mulish;
    color: #0e4a17;
    background-color: #e5ffe0;
    border-radius: 20px;
    
}

hr.borderline {
    border: 0;
    border-top: 2px solid #0e4a17;
    width: 100%;
}


span{
    color:#00000070;
}

.buttons {
    width: 10vw;
    height: 5vh;
    cursor: pointer;
    font-family: "Brushstroke";
    font-size: 1.5vw;
    background-color: #4CAF50;
    font-weight: bold;
    border-radius: 20px;
    
    
}

.buttons:hover {
    background-color: #5edc62;
}

 /* div {
    border: double cornflowerblue;
}  */

* {
    box-sizing: border-box;
}

[class*="col"] {
    float: left;
    padding: 15 px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}